:root{
    --card-width: 90mm;
    --card-height: 62mm;
}

main {
    display: flex;
    column-gap: 10px;
    row-gap: 10px;
    flex-wrap: wrap;
}

.Cards {
    border: 2px solid black;
    width: var(--card-width);
    height: var(--card-height);
    box-sizing: border-box;
}

.backgroundImage{
    width: var(--card-width);
    height: var(--card-height);
    opacity: 0.2;
}

.Bild {
    position: relative;
    top: -57mm;
    left: -1px;
}

.Text{
    position: relative;
}

.container01 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 15%;
    margin-right: 15%;
    font-weight: bolder;
    height: 12px;
}



.teilnehmer {
    text-align: center;
}

.ueberschrift {
    text-align: center;
    font-weight: bolder;
    font-size: larger;
}

.feuerwehr {
    text-align: center;
    font-weight: bold;
    font-size: large;
}

.preis {
    text-align: center;
    font-weight: bold;
    font-size: large;
}

.container02 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 15%;
    margin-right: 15%;
    font-weight: bolder;
    height: 12px;
}

.checksum, .laufnummer {
    text-align: right;
    font-size: x-small;
}

@media print {
    @page {
        size: A4 Portrait;
        margin: 15pt 15pt;
    }

    header{
        display: none;
    }
    
    footer{
        display: none;
    }
    
    div{
        break-inside:avoid;
    }
}